.about-us {
  width: $mobile-wrapper;
  margin: auto;
}

.about-us__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us__item {
  padding: 5px;
}

.about-us__text {
  line-height: 20px;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .about-us {
    width: $tablet-wrapper;
    margin: auto;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__text {
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 668px;
    gap: 20px;
    grid-auto-flow: column;
  }
}

@media (min-width: $desktop-width) {
  .about-us__title {
    margin-left: 161px;
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    width: $desktop-wrapper;
    column-gap: 70px;
  }
}
