.about-us {
  width: $mobile-wrapper;
  margin: auto;
  margin-top: 53px;
  margin-bottom: 39px;
}

.about-us__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  margin: 0;
  margin-top: 60px;
  margin-left: -6px;
  padding: 0;

  list-style: none;
}

.about-us__item {
  position: relative;

  margin-bottom: 39px;
  padding: 5px;

  &::before {
    content: "";
    position: absolute;

    display: inline-block;

    background-repeat: no-repeat;
  }
}

.about-us__item:nth-child(1) {
  &::before {
    bottom: 81px;
    left: 14px;

    width: 33px;
    height: 38px;

    background-image: url("../img/icon-1.svg");
  }
}

.about-us__item:nth-child(2) {
  &::before {
    bottom: 91px;
    left: 6px;

    width: 47px;
    height: 27px;

    background-image: url("../img/icon-2.svg");
  }
}

.about-us__item:nth-child(3) {
  &::before {
    bottom: 86px;
    left: 13px;

    width: 47px;
    height: 27px;

    background-image: url("../img/icon-3.svg");
  }
}

.about-us__item:nth-child(4) {
  &::before {
    bottom: 82px;
    left: 8px;

    width: 35px;
    height: 34px;

    background-image: url("../img/icon-4.svg");
  }
}

.about-us__item:nth-child(5) {
  &::before {
    bottom: 92px;
    left: 0;

    width: 55px;
    height: 23px;

    background-image: url("../img/icon-5.svg");
  }
}

.about-us__item:nth-child(6) {
  &::before {
    bottom: 85px;
    left: 9px;

    width: 33px;
    height: 32px;

    background-image: url("../img/icon-6.svg");
  }
}

.about-us__text {
  font-weight: bold;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .about-us {
    width: $tablet-wrapper;
    margin: auto;
  }

  .about-us__title {
    margin-top: 102px;

    font-size: 43px;
    line-height: 50px;
  }

  .about-us__text {
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 668px;
    margin-top: 72px;

    column-gap: 5px;

    grid-auto-flow: column;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    width: $desktop-wrapper;
  }

  .about-us__title {
    margin-top: 140px;
    margin-left: 175px;

    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    margin-top: 71px;
    margin-left: 172px;

    column-gap: 29px;
  }
}
