.button {
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid $grey-text;
  font-weight: bold;
  line-height: 20px;
  font-size: 18px;
  color: $grey-text;
  font-family: "Open Sans", "Arial", sans-serif;
}
// BUG почему приходится отдельно задавать и нельзя плейсхолдеру
