.button {
  display: inline-block;
  margin-top: 7px;
  margin-left: 0;
  padding-top: 15px;
  padding-right: 81px;
  padding-bottom: 14px;
  padding-left: 80px;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: inherit;
  color: $grey-text;
  text-transform: uppercase;

  border: 2px solid $grey-text;

  @media (min-width: $tablet-width) {
    margin-top: -15px;
    margin-bottom: 0;
    padding-right: 100px;
    padding-bottom: 13px;
    padding-left: 99px;

    font-size: 17px;
  }
}

.button--small-line-height {
  line-height: 16px;
}
