.catalog {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;
}

.catalog__item-title {
  display: block;

  font-weight: 700;
  line-height: 24px;
  color: $black;
}

.catalog__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: auto 3fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.catalog__item-detail {
  font-size: 13px;
  line-height: 30px;
  color: $grey-text;
}

.catalog__item-cost {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .catalog__link {
    grid-row: 1/4;
  }

  .catalog__item-title {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 20px;
  }

  .catalog__item-detail {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 15px;
  }

  .catalog__item-cost {
    grid-column: 2/3;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .catalog__item {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    width: 316px;
  }

  .catalog__link {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .catalog__item-title {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .catalog__item-detail {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .catalog__item-cost {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
