.catalog {
  margin: 0;
  margin-top: 29px;
  padding: 0;

  list-style: none;
}

.catalog__link {
  display: inline-block;
}

.catalog__item-title {
  position: relative;

  display: block;
  width: 202px;
  margin-top: 26px;
  margin-left: 28px;

  font-weight: 700;
  line-height: 24px;
  color: $black;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 77px;
  //   right: 0;

  //   width: 202px;
  //   height: 1px;

  //   background-color: $border-nav;
  // }
}

.catalog__item:last-child .catalog__item-title {
  &::after {
    top: 102px;
  }
}

.catalog__item {
  margin-bottom: 28px;
  padding-bottom: 27px;

  border: 1px solid $border-nav;
}

.catalog__item-detail {
  margin-top: 4px;
  margin-left: 28px;
  position: relative;
  font-size: 13px;
  line-height: 30px;
  color: $grey-text;

  &::after {
    content: "";
    position: absolute;
    top: 50px;
    right: 28px;

    width: 202px;
    height: 1px;

    background-color: $border-nav;
  }
}

.catalog__price {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  width: 233px;
  align-items: center;
}

.catalog__item-cost {
  display: inline-block;
  margin-left: 28px;

  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.catalog__item-busket {
  position: relative;
}

.catalog__busket-icon {
  opacity: 0.2;
}

.catalog__item:nth-child(2) .catalog__busket-icon {
  left: 122px;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: $tablet-wrapper;
    margin: auto;
    margin-top: 75px;
  }

  .catalog__link {
    grid-row: 1/4;
  }

  .catalog__link img {
    width: 334px;
    height: 334px;
  }

  .catalog__item {
    display: grid;
    grid-template-rows: 48px 219px 66px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 53px;
    padding-bottom: 0;
  }

  .catalog__item:nth-child(2) .catalog__item-detail {
    margin-top: 12px;
  }

  .catalog__item:nth-child(3) .catalog__item-detail {
    margin-top: 32px;
  }

  .catalog__item-title {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 239px;
    margin-left: 33px;

    font-size: 20px;
    // &::after {
    //   top: 233px;
    //   left: 0;

    //   width: 268px;
    // }
  }

  .catalog__item-detail {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: 8px;
    margin-left: 33px;

    font-size: 15px;

    &::after {
      top: 201px;
      right: 31px;
      width: 269px;
    }
  }

  .catalog__item:last-child .catalog__item-detail {
    &::after {
      top: 179px;
    }
  }

  .catalog__item-cost {
    grid-column: 2/3;
    // margin-top: 16px;
    margin-left: 0;

    font-size: 17px;
  }

  .catalog__price {
    width: 270px;
    margin-top: -9px;
    margin-left: 33px;
  }

  .catalog__busket-icon,
  .catalog__item:nth-child(2) .catalog__busket-icon {
    // right: -302px;
    // top: -49px;
    left: 614px;
    top: -49px;
    // bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: $desktop-wrapper;
    margin: auto;
    margin-top: 142px;

    column-gap: 49px;
  }

  .catalog__link img {
    width: 316px;
    height: 462px;
  }

  .catalog__item {
    grid-template-rows: 472px 41px 58px 87px;
    grid-template-columns: 1fr;
    width: 316px;

    grid-auto-flow: row;
  }

  .catalog__item:last-child {
    grid-template-rows: 465px 74px 33px 86px;
  }

  .catalog__link {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .catalog__item-title {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: 16px;
    margin-bottom: -7px;
    margin-left: 27px;
    // &::after {
    //   top: 97px;
    // }
  }

  // .catalog__item:last-child {
  //   grid-template-rows: auto auto auto auto;
  // }

  .catalog__item:last-child .catalog__item-title {
    margin-top: 23px;
  }

  .catalog__item-detail {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-top: 5px;
    margin-left: 26px;

    &::after {
      width: 255px;
      top: 67px;
      right: 34px;
    }
  }

  .catalog__item:last-child .catalog__item-detail {
    margin-top: 3px;

    &::after {
      top: 43px;
    }
  }

  .catalog__item-cost {
    grid-row: 4/5;
    grid-column: 1/2;
    // margin-top: 37px;
    // margin-left: 27px;
  }

  .catalog__item:nth-child(2) .catalog__item-detail {
    margin-top: 5px;
  }

  .catalog__busket-icon {
    left: 262px;
    top: -49px;
  }

  .catalog__item:nth-child(2) .catalog__busket-icon {
    left: 260px;
  }

  .catalog__price {
    width: 257px;
    margin-top: 10px;
    margin-left: 27px;
  }
}
