.contacts {
  width: $mobile-wrapper;
  margin: auto;
  margin-top: 40px;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts__info,
.contacts__description,
.contacts__description > a {
  font-size: 14px;
  line-height: 30px;
  color: $grey-text;
}

.contacts__description address {
  font-style: normal;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__maps {
  position: relative;
}

.contacts__maps iframe {
  width: 320px;
  height: 454px;
  margin-left: -32px;
}

.contacts__maps img {
  position: absolute;
  top: 15px;
  z-index: -1;
}

.contacts__write {
  margin-left: 50px;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: $tablet-wrapper;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__maps iframe {
    width: 768px;
    height: 457px;
    margin-left: -51px;
  }

  .contacts__maps img {
    position: absolute;
    z-index: -1;
    top: 0;
  }

  .contacts__write {
    margin-left: 223px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: $desktop-wrapper;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr min-content;
  }

  .contacts__maps {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  .contacts__maps iframe {
    width: 527px;
    height: 457px;
    margin-left: 0;
  }

  .contacts__maps img {
    position: absolute;
    z-index: -1;
    left: 57px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: 177px;
    margin-top: 78px;
    margin-bottom: 0;
  }

  .contacts__wrapper {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    justify-content: center;
  }

  .contacts__write {
    justify-self: center;
    margin-left: 22px;
  }
}
