.contacts {
  margin: auto;
  margin-top: 90px;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: auto;
  width: $mobile-wrapper;
  margin-bottom: 28px;
}

.contacts__info,
.contacts__description,
.contacts__description > a {
  font-size: 14px;
  line-height: 30px;
  color: $grey-text;
}

.contacts__info {
  margin-bottom: 28px;
  text-transform: lowercase;
}

.contacts__description {
  margin-left: 34px;
}

.contacts__description a {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 179px;
    height: 1px;
    background-color: $green;
    top: 19px;
    bottom: -1px;
    left: 0;
  }
}

.contacts__description address {
  font-style: normal;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: $mobile-wrapper;
  margin: auto;
}

.contacts__maps {
  position: relative;
  top: 64px;
}

.contacts__maps iframe {
  width: 100%;
  height: 454px;
  border: none;
}

.contacts__maps img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contacts__write {
  margin: auto;
  display: block;
  width: 160px;
  margin-top: 102px;
  padding-left: 47px;
  padding-right: 46px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-top: 83px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 47px;
      height: 81px;
      background-image: url("../img/flag.svg");
      top: -21px;
      right: 53px;
    }
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    // margin-left: 125px;
    width: $tablet-wrapper;
  }

  .contacts__description {
    margin: 0;
  }

  .contacts__description a::after {
    width: 203px;
    top: 25px;
  }

  .contacts__wrapper {
    width: $tablet-wrapper;
    grid-template-columns: 79px 257px 77px 223px;
    margin-top: 51px;
  }

  .contacts__info,
  .contacts__description,
  .contacts__description > a {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__maps {
    top: 47px;
  }

  .contacts__maps iframe {
    width: 100%;
    height: 457px;
  }

  .contacts__maps img {
    position: absolute;
    z-index: -1;
    top: 0;
  }

  .contacts__write {
    margin-top: 98px;
    padding-left: 35px;
    padding-right: 27px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: $desktop-wrapper;
    display: grid;
    grid-template-columns: 519px 1fr;
    grid-template-rows: auto 1fr min-content;
    margin-top: 36px;

    &::after {
      left: 63px;
      top: 89px;
    }
  }

  .contacts__maps {
    grid-row: 1/3;
    grid-column: 2/3;
    top: 27px;
    left: 3px;
  }

  .contacts__maps iframe {
    width: 527px;
    height: 457px;
    margin-left: 0;
  }

  .contacts__maps img {
    position: absolute;
    z-index: -1;
    left: 57px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: 174px;
    margin-top: 106px;
    margin-bottom: 0;
    width: 300px;
  }

  .contacts__wrapper {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    justify-content: center;
    width: 300px;
    margin-left: 174px;
    margin-top: 36px;
  }

  .contacts__write {
    justify-self: center;
    margin-top: -28px;
    margin-left: 177px;
  }

  .contacts__description {
    margin-left: -6px;
  }
}
