.main-nav {
  margin-top: 22px;
}

.main-nav__logo {
  display: block;
}

.main-nav__toggle {
  padding: 0;
  border: none;
  outline: none;
  position: relative;
}

.main-nav__logo-img {
  &--tablet,
  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}

.main-nav--opened .main-nav__toggle {
  position: relative;
  top: 0;
  right: auto;
  left: 0;
  padding: 0;
  border: none;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: -32px;
    left: 117px;

    width: 21px;
    height: 20px;

    background-image: url("../../img/menu-close.svg.png");
    background-repeat: no-repeat;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  left: 116px;

  width: 21px;
  height: 2px;

  background-color: $black;
  box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
}

.main-nav__list {
  margin-top: 47px;
  margin-left: -12px;
  padding: 0;

  list-style: none;
}

.main-nav__list .main-nav__item:nth-child(2) {
  margin-top: 35px;
}

.main-nav__link {
  display: inline-block;
  order: 1;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 24px;
  color: $black;
}

.main-nav__toggle + .main-nav__link {
  margin-top: 17px;
  margin-left: -33px;

  & + .main-nav__link {
    margin-top: 36px;
    margin-left: 12px;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: $mobile-width-only) {
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 77px;

    width: 100%;
    height: 2px;

    background-color: $border-nav;
    box-shadow: 0 79px 0 0 $border-nav, 0 158px 0 0 $border-nav, 0 237px 0 0 $border-nav, 0 316px 0 0 $border-nav;
  }
}

.main-nav__about-delivery {
  display: none;
}

.main-nav__list--new {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__link {
    display: none;
  }

  .main-nav--closed {
    height: 50px;
  }

  .main-nav--closed .main-nav__list {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    // display: flex;
    margin: auto;
    // align-items: center;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__link {
    order: 0;

    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__list {
    display: flex;
    width: 300px;
    margin: 0;
  }

  .main-nav__logo {
    width: 100px;
    margin-right: 180px;
  }

  .main-nav__list--new {
    display: none;
  }

  .main-nav__about-delivery {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__item a {
    font-size: 17px;
    line-height: 24px;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1050px;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    order: 1;
  }

  .main-nav__list--new a {
    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__logo {
    order: 2;
  }

  .main-nav__link {
    order: 3;
  }

  .main-nav__about-delivery {
    order: 20;
  }

  .main-nav__list--new {
    display: flex;
    justify-content: space-between;
    order: 4;
    width: 400px;
  }
}
