.main-nav {
  margin-top: 22px;
}

.main-nav__logo {
  display: block;
}

// .main-nav__logo-img {
//   &--tablet,
//   &--desktop {
//     display: none;
//   }

//   @media (min-width: $tablet-width) {
//     &--mobile {
//       display: none;
//     }

//     &--tablet {
//       display: block;
//     }
//   }

//   @media (min-width: $desktop-width) {
//     &--tablet {
//       display: none;
//     }

//     &--desktop {
//       display: block;
//     }
//   }
// }

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 21px;
  height: 20px;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

.main-nav--opened .main-nav__toggle--close-open {
  background-image: url("../img/menu-close.svg");
}

.main-nav--closed .main-nav__toggle--close-open {
  background-image: url("../img/menu-open.svg");
}

.main-nav__list {
  margin-top: 47px;
  margin-left: -12px;
  padding: 0;

  list-style: none;
}

.main-nav__list .main-nav__item:nth-child(2) {
  margin-top: 35px;
}

.main-nav__link {
  display: inline-block;
  order: 1;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 24px;
  color: $black;
}

.main-nav__toggle + .main-nav__link {
  position: relative;

  margin-top: 17px;
  margin-left: -33px;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -33px;

    width: 18px;
    height: 18px;

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
  }
}

.main-nav__toggle + .main-nav__link + .main-nav__link {
  margin-top: 36px;
  margin-left: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 5px;
    margin-left: 108px;
    padding-top: 0;

    font-size: 17px;
    line-height: 24px;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: $mobile-width-only) {
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 77px;

    width: 100%;
    height: 2px;

    background-color: $border-nav;
    box-shadow: 0 79px 0 0 $border-nav, 0 158px 0 0 $border-nav, 0 237px 0 0 $border-nav, 0 316px 0 0 $border-nav;
  }
}

.main-nav__about-delivery {
  display: none;
}

.main-nav__list--new {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__link {
    display: none;
  }

  .main-nav--closed {
    height: 50px;
  }

  .main-nav--closed .main-nav__list {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-between;
    width: 668px;
    // display: flex;
    margin: auto;
    // align-items: center;
  }

  .main-nav__logo {
    width: 112px;
    margin-top: -15px;
    margin-right: 180px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__link {
    order: 0;

    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__list {
    display: flex;
    width: 320px;
    margin: 0;
  }

  .main-nav__list .main-nav__item:nth-child(1) {
    margin-top: 26px;
  }

  .main-nav__list .main-nav__item:nth-child(2) {
    margin-top: 27px;
    margin-left: 37px;
  }

  .main-nav__list--new {
    display: none;
  }

  .main-nav__about-delivery {
    display: block;
    margin-top: 18px;
    margin-left: 117px;

    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__toggle + .main-nav__link {
    color: transparent;

    &::before {
      top: -3px;
      left: 95px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    order: 2;
    width: 147px;
    margin-left: 75px;
  }

  .main-nav__item .main-nav__link {
    font-size: 17px;
    line-height: 24px;
  }

  .main-nav__list--new .main-nav__link {
    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__toggle + .main-nav__link {
    &::before {
      top: -3px;
      left: -12px;
    }
  }

  .main-nav__toggle + .main-nav__link + .main-nav__link {
    margin-left: 2px;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1050px;
  }

  .main-nav__list {
    display: flex;
    // justify-content: space-between;
    order: 1;
    width: 376px;
    margin-top: -21px;
  }

  .main-nav__list .main-nav__item:nth-child(1) {
    margin-right: 34px;
  }

  .main-nav__list--new a {
    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__link {
    order: 3;
  }

  .main-nav__about-delivery {
    order: 20;
    margin-left: 488px;
  }

  .main-nav__list--new {
    display: flex;
    // justify-content: space-between;
    order: 4;
    width: 330px;
    margin-top: -1px;
  }

  .main-nav__list--new .main-nav__item:nth-child(2) {
    margin-left: 29px;
  }
}
