.page-main {
  margin-top: 6px;
}

.page-main__wrapper {
  // width: 260px;
  background-color: $grey;
  background-image: url("https://via.placeholder.com/320x282");
  background-size: cover;
  min-height: 282px;
  background-repeat: no-repeat;
}

.page-main__wrapper--catalog {
  width: $mobile-wrapper;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: $tablet-wrapper;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper;
  }
}

.page-main__title {
  width: 260px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  padding-top: 72px;
}

.page-main__title--catalog {
  width: 100%;
  margin: auto;

  background-color: $grey;
}

.page-main__nav-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-main__nav-item:nth-child(1) {
  background-color: $green;
  padding-bottom: 20px;

  .page-main__nav-item:nth-child(1) a {
    padding-top: 26px;
    padding-left: 30px;
  }
}

.page-main__nav-item:nth-child(2) {
  background-color: $green-dark;

  .page-main__nav-item:nth-child(2) a {
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 30px;
  }
}

.page-main__nav-link {
  display: inline-block;
  padding: 10px 25px;

  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $white;
}

.page-main__text {
  width: $mobile-wrapper;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    font-size: 43px;
    line-height: 50px;
    width: 500px;
    padding-top: 154px;
  }

  .page-main__title--catalog {
    font-size: 43px;
    line-height: 50px;
  }

  .page-main {
    margin: 0 auto;
  }

  .page-main__wrapper {
    background-color: transparent;
    width: $tablet-wrapper;
    margin: auto;
    margin-top: -65px;
    min-height: 626px;
  }

  .page-main__nav-link {
    font-size: 20px;
    line-height: 30px;
    padding-top: 25px;
    padding-left: 36px;
  }

  .page-main__nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: $tablet-wrapper;
    margin: auto;
    margin-bottom: 75px;
  }

  .page-main__text {
    width: $tablet-wrapper;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    // width: 1050px;
    margin: 0 auto;
  }

  .page-main__text {
    width: 702px;
  }

  .page-main__nav-list {
    width: $desktop-wrapper;
    margin: auto;
  }

  .page-main__wrapper {
    width: $desktop-wrapper;
    margin: auto;
    background-size: cover;
    margin-top: -60px;
  }
}
