.page-main__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  background-color: $grey;
}

.page-main__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-main__nav-item:nth-child(1) {
  background-color: $green;
}

.page-main__nav-item:nth-child(2) {
  background-color: $green-dark;
}

.page-main__nav-link {
  display: inline-block;
  color: $white;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 25px;
}

.page-main__text {
  font-size: 13px;
  line-height: 24px;
}
