.page-footer {
  margin: auto;
  margin-top: 40px;

  background-color: $grey;
}

.page-footer__img-wrapper {
  display: none;
}


.page-footer__social {
  position: relative;

  padding-bottom: 21px;

  text-align: center;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: relative;
      top: -5px;
      left: 2px;

      display: inline-block;
      width: 260px;
      height: 1px;

      background-color: $border-nav;
    }
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  width: 206px;
  margin: auto;
  padding-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: 57px;
  }

  .page-footer__img-wrapper {
    display: block;
    margin-right: 100px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $tablet-wrapper;
    margin: auto;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .page-footer__copyright {
    margin-top: 32px;
    margin-left: 92px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin-top: 105px;
  }


  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $desktop-wrapper;
    margin: auto;
  }

  .page-footer__img-wrapper {
    margin-right: 291px;
  }

  .page-footer__copyright {
    margin-left: 279px;
  }
}
