.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.popup--open {
  display: flex;
}

// .popup--show {
//   visibility: visible;
//   opacity: 1;

//   // &::after {
//   //   content: "";
//   //   position: absolute;
//   //   top: 361px;
//   //   width: 100%;
//   //   height: 1px;
//   //   box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
//   // }
// }

// .popup--show {
//   display: block;
// }

.popup__wrapper {
  width: 100%;
  // height: 200px;
  background-color: $white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid $border-nav;
  position: relative;
  z-index: 15;
}

.popup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background-color: rgba(250, 250, 250, 0.7);
}

.popup__title {
  margin-top: 0;
  margin-bottom: 15px;
  padding-top: 29px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.popup__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}

.popup__legend {
  margin: auto;
  margin-left: 75px;

  font-size: 15px;
  line-height: 30px;
}

@media (max-width: $mobile-width-only) {
  .popup form {
    width: 320px;
    margin: auto;
  }
}

.popup__form {
  width: 320px;
  margin: auto;

  border: none;
}

.popup__list {
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 40px;
  margin-left: 39px;
  padding: 0;

  list-style: none;
}

.popup__item {
  position: relative;

  margin-right: 64px;
}

.popup__item input {
  appearance: none;
}

.popup__item:nth-child(2) .popup__border {
  left: -21px;
}

.popup__border {
  position: absolute;
  top: -16px;
  left: -24px;

  display: inline-block;
  width: 79px;
  height: 48px;

  border: 2px solid $border-nav;
}

.popup__input:checked + .popup__border {
  border: 2px solid $green;
}

.popup__button {
  margin-left: 12px;

  color: $white;

  background-color: $logo;
  border: none;
}

@media (min-width: $tablet-width) {
  .popup {
    border: none;

    &::after {
      box-shadow: none;
    }
  }

  .popup__wrapper {
    width: 566px;
    height: 336px;

    border: 1px solid $border-nav;
    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  }

  .popup__br {
    display: none;
  }

  .popup__title {
    margin-bottom: 12px;
    padding-top: 37px;

    font-size: 30px;
    line-height: 57px;
  }

  .popup__legend {
    margin-left: 173px;

    font-size: 17px;
    line-height: 30px;
  }

  .popup__list {
    margin-top: 30px;
    margin-bottom: 67px;
    margin-left: 114px;
  }

  .popup__item {
    margin-right: 95px;
  }

  .popup__form {
    width: 500px;
  }

  .popup__border {
    left: -39px;

    width: 107px;
  }

  .popup__item:nth-child(2) .popup__border {
    left: -36px;
  }

  .popup__button {
    margin-left: 75px;
    padding-top: 15px;
    padding-right: 128px;
    padding-bottom: 12px;
    padding-left: 125px;
  }
}
