.process-making {
  width: $mobile-wrapper;
  margin: auto;
  padding-bottom: 32px;
  margin-bottom: 57px;
  border: 1px solid $border-nav;

  &:hover,
  &:focus {
    box-shadow: $item-hover;
  }

  &:active {
    box-shadow: $item-active;
  }
}

.process-making__title {
  width: 158px;
  margin: auto;
  margin-top: 23px;
  margin-left: 89px;

  font-size: 17px;
  line-height: 24px;
}

.process-making__text {
  width: 226px;
  margin: auto;
  margin-top: 32px;
  margin-left: 32px;

  font-size: 13px;
  line-height: 24px;
  color: $grey-text;
}

.process-making__button {
  display: inline-block;
  width: 158px;
  margin-top: 41px;
  margin-left: 33px;
  padding-top: 17px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.process-making__video {
  position: relative;
}

.process-making__video-icon {
  width: 32px;
  height: 22px;
  fill: $green;
  position: relative;
  left: 33px;
  bottom: 35px;
}

.process-making__play-icon {
  position: absolute;
  left: 79px;
  top: 39px;
}

@media (min-width: $tablet-width) {
  .process-making {
    width: $tablet-wrapper;
  }

  .process-making__title {
    grid-row: 2/3;
    width: 252px;
    margin-top: 39px;
    margin-left: 107px;

    font-size: 20px;
    position: relative;
    top: 433px;
  }

  .process-making__text {
    width: 583px;
    margin-top: 87px;
    margin-left: 40px;

    font-size: 15px;
    line-height: 30px;
  }

  .process-making__wrapper {
    display: grid;
    margin: auto;
    padding-bottom: 11px;
  }

  .process-making__button {
    width: 543px;
    margin-top: 40px;
    margin-left: 40px;
    padding-right: 19px;
    padding-left: 20px;

    text-align: center;

    &:hover,
    &:focus {
      background: $button-hover;
      color: $white;
    }

    &:active {
      background: $button-hover;
      color: $button-active;
    }
  }

  .process-making__wrapper img {
    width: 668px;
    height: 455px;
    margin: auto;
  }

  .process-making__video {
    margin-top: -88px;
  }

  .process-making__play-icon {
    left: 284px;
    top: 190px;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.8);
      opacity: 0.3;
    }
  }

  .process-making__video-icon {
    top: 492px;
    left: 42px;
  }
}

@media (min-width: $desktop-width) {
  .process-making {
    width: $desktop-wrapper;
    margin: auto;
    padding-bottom: 0;
  }

  .process-making__wrapper {
    grid-template-rows: 1fr 1fr min-content;
    grid-template-columns: 683px auto;
  }

  .process-making__video {
    grid-row: 1/-1;
    height: 325px;
    margin-right: 0;
    margin-top: 0;
  }

  .process-making__wrapper img {
    // grid-row: 1/-1;
    width: 683px;
    height: 455px;
    margin: auto;
  }

  .process-making__button {
    width: 230px;
    margin-top: 9px;
    margin-bottom: 58px;
    margin-left: 78px;
    padding-right: 0;
    padding-left: 0;

    text-align: center;
    position: relative;
    left: 684px;
    top: 10px;
  }

  .process-making__title {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 228px;
    margin-top: 98px;
    margin-left: 79px;
    top: 0;
  }

  .process-making__text {
    grid-row: 2/3;
    width: 253px;
    margin-top: 21px;
    margin-left: 79px;
  }

  .process-making__video-icon {
    top: -255px;
    left: 78px;
  }

  .process-making__play-icon {
    width: 100px;
    left: 293px;
  }
}
