.reviews {
  width: 100%;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    // top: 25px;
    bottom: -51px;
    // right: -20px;

    display: inline-block;
    width: 100%;
    height: 6px;

    background-image: url("../img/zigzag-line-mobile.svg");
  }
}

.reviews__wrapper {
  width: $mobile-wrapper;
  margin: auto;
}

.reviews__item:nth-child(-n + 2) {
  display: none;
}

.reviews__list {
  margin-top: -10px;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  color: $grey-text;
  margin-bottom: 1px;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-top: 29px;
  display: inline-block;
}

.reviews__author-email {
  margin-top: 3px;
}

.reviews__author-email > a {
  margin-top: 4px;

  line-height: 24px;
  color: $grey-text;
}

.reviews__buttons {
  display: flex;
  // justify-content: space-between;
  // border: 1px solid $border-nav;
  width: 258px;
  height: 49px;
  margin-top: 33px;
  position: relative;

  // @media (max-width: $mobile-width-only) {
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     display: inline-block;
  //     width: 1px;
  //     height: 50px;
  //     left: 129px;
  //     background-color: $border-nav;
  //   }
  // }
}

.reviews__button-left {
  // margin-right: 64px;
  margin-left: 0;
  padding-right: 42px;
}

.reviews__button-right {
  padding-right: 39px;
}

.reviews__buttons button {
  border: 1px solid $border-nav;
  background-color: transparent;
  padding-top: 3px;
  padding-left: 37px;
}

.reviews__write {
  margin-top: 37px;
  // margin-left: 74px;
  margin-left: -1px;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 100%;
    margin-top: -49px;
    // margin: auto;
    // margin-top: 50px;
    padding: 0;
    padding-top: 1px;
    padding-bottom: 50px;

    background-image: url("../img/review-tablet.jpg");
    background-repeat: no-repeat;
    background-position: left;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review-tablet@2x.jpg");
      background-size: 350px;
    }
  }

  .reviews__mobile {
    display: none;
  }

  .reviews::after {
    content: "";
    position: absolute;
    // top: 25px;
    bottom: -17px;
    // right: -20px;

    display: inline-block;
    width: 100%;
    height: 17px;
    left: 0;

    background-image: url("../img/zigzag-line-tablet.svg");
  }

  .reviews__wrapper {
    position: relative;
    top: 15px;

    width: $tablet-wrapper;
    margin: auto;
  }

  .reviews__title {
    margin-top: 137px;

    font-size: 43px;
    line-height: 50px;
    // margin-left: 23px;
  }

  .reviews__buttons {
    border: none;
    right: 5px;
    left: 333px;
    top: -70px;
    bottom: 0;
    width: 30px;
  }

  .reviews__buttons button {
    border: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .reviews__button-left {
    margin-right: -12px;
    position: absolute;
    right: 240px;
    bottom: 23px;
    left: 142px;
  }

  .reviews__button-right {
    left: 230px;
    position: absolute;
    right: 140px;
    bottom: 23px;
  }

  .reviews__list {
    margin-top: -14px;
  }

  .reviews__author-name {
    margin-top: 45px;

    font-size: 18px;
    line-height: 24px;
    position: relative;
    top: 14px;
  }

  .reviews__author-email > a {
    line-height: 30px;
  }

  .reviews__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .reviews__text {
    grid-column: 1/3;

    font-size: 17px;
  }

  .reviews__author-email {
    grid-column: 1/2;
    margin-top: 2px;
    position: relative;
    top: 14px;
  }


  .reviews__write {
    position: absolute;
    top: -40px;
    right: 0;

    padding-right: 39px;
    padding-left: 37px;

    &:hover,
    &:focus {
      background: $button-hover;
      color: $white;
    }

    &:active {
      background: $button-hover;
      color: $button-active;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: $desktop-wrapper;
    padding-bottom: 84px;
    margin-top: 0;
    background-position: left 29px;

    &::after {
      background-image: url("../img/zigzag-line-desktop.svg");
      width: 100%;
      background-repeat: no-repeat;
      height: 23px;
      bottom: 9px;
    }
  }

  .reviews__wrapper {
    position: relative;
    top: -29px;
    width: $desktop-wrapper;
  }

  .reviews__text {
    width: 838px;
    margin-top: 6px;
  }

  .reviews__write {
    margin-top: 73px;
    margin-bottom: 0;
    padding-top: 14px;
    padding-right: 39px;
    padding-bottom: 14px;
    padding-left: 37px;
    top: -72px;
  }

  .reviews__title {
    margin-left: 177px;

    font-size: 53px;
    line-height: 57px;
  }

  .reviews__item {
    width: 875px;
    margin-left: auto;
  }

  .reviews__author-name {
    margin-top: 24px;
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author-email > a {
    line-height: 24px;
  }

  .reviews__button-left {
    left: 525px;
  }

  .reviews__button-right {
    left: 611px;
  }
}
