.social__item {
  margin-bottom: 10px;
}

.social__list {
  list-style: none;

  display: flex;
  justify-content: space-around;
  width: 183px;
  margin: auto;
  padding: 0;
  padding-top: 28px;
}

.social__logo:hover,
.social__logo:focus {
  .social__logo-footer {
    fill: $mail-hover;
  }
}

.social__logo:active {
  .social__logo-footer {
    opacity: 0.3;
  }
}

.social__link:hover,
.social__link:focus {
  svg {
    fill: $mail-hover;
  }
}

.social__link:active {
  svg {
    opacity: 0.3;
  }
}
