$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

$tablet-wrapper: 668px;
$desktop-wrapper: 1050px;
$mobile-wrapper: 260px;
$desktop-form-wrapper: 986px;

$black: #000000;
$grey: #f1f1f1;
$green: #63d1bb;
$green-dark: #56c3b2;
$green-light: #62d1ba;
$grey-text: #444444;
$white: #ffffff;
$input-text: rgba(0, 0, 0, 0.3);
$border-nav: #ececec;
$bc-index: #fafafa;
$logo: #63d1bb;
$popup-border: #c6c6c6;
$button-hover: linear-gradient(0deg, #444444, #444444);
$button-active: rgba(250, 250, 250, 0.3);
$span-active: rgba(0, 0, 0, 0.3);
$mail-hover: #46c1ae;
$item-hover: 0 6px 10px rgba(0, 0, 0, 0.1);
$item-active: 0 3px 5px rgba(0, 0, 0, 0.1);
