$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

$tablet-wrapper: 668px;
$desktop-wrapper: 1050px;
$mobile-wrapper: 260px;
$desktop-form-wrapper: 986px;

$black: #000000;
$grey: #f1f1f1;
$green: #63d1bb;
$green-dark: #56c3b2;
$green-light: #62d1ba;
$grey-text: #444444;
$white: #ffffff;
$input-text: rgba(0, 0, 0, 0.3);
